
<div style="padding:20px;">
<mat-card style="width: 10%; height: 20px;"(click)="clikedOnCard()"> 
<mat-card-content color="primary">Introduction</mat-card-content>
</mat-card> <br>
<button mat-flat-button color="primary" >OOPs</button>
</div>
<div class="paragraphIntro" *ngIf="paragraphIntro">
    <p class="paragraphIntro1">
        Java is a programming language and a platform. Java is a high level, robust, object-oriented
         and secure programming language.
         Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995.
          James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already 
          a registered company, so James Gosling and his team changed the Oak name to Java.
    </p>
</div>
